.custom-hero-module{
	.block{
		height: 640px;
		position: relative;
		display: flex;
		padding: 20px 42px;
		.absolute-image{
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    background-size: cover;
		    background-position: 50%;
		    background-repeat: no-repeat;
		}
		.content{
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
		    z-index: 1;
		    width: 100%;
		    .title{
		    	@extend .title-font;
		    	margin: 0;
		    	padding: 0 0 20px;
		    	text-align: center;
		    }
		    .copy{
		    	@extend .body-font;
		    	margin: 0;
		    	padding: 0 0 30px;
		    }
			.cta{
				@include cta;
			}
		}
	}

	@media (max-width: $breakpoint-desktop) {
		.block{
			.absolute-image{
				&.desktop-image{
					display: none;
	    			background-image: none !important;
				}
			}
			.content{
				.copy{
					text-align: center;
					max-width: 450px;
					margin: 0 auto;
				}
				.cta{
					margin: 0 auto;
				}
			}
		}
	}

	@media (min-width: $breakpoint-desktop) {
		.block{
			height: 500px;
			padding: 20px 78px;
			&.text-left, &.left{
				.title{
					text-align: left;
				}
				.content{
					align-items: flex-start;
					.inner-content{
						max-width: 580px;
					}
				}
			}
			&.text-center, &.center{
				.content{
				    .copy{
				    	max-width: 780px;
				    	margin: 0 auto;
				    	text-align: center;
				    }
				    .cta{
				    	margin: 0 auto;
				    }
				}
			}
			&.text-right, &.right{
				.title{
					text-align: left;
				}
				.content{
					align-items: flex-end;
					.inner-content{
						text-align: left;
						max-width: 580px;
					}
				}
			}
			.absolute-image{
				&.mobile-image{
					display: none;
    				background-image: none !important;
				}
			}
			.content{
				.inner-content{

				}
			    .copy{
			    	padding: 0 0 30px;
			    }
			}
		}
	}

}