@font-face { 
	font-family: 'Roboto-Light'; 
	src: url('{{ 'Roboto-Light' | asset_url }}') format('truetype'), 
}
@font-face { 
	font-family: 'Roboto-Bold'; 
	src: url('{{ 'Roboto-Bold' | asset_url }}') format('truetype'), 
}

.main-font {
	font-family: 'Roboto-Light', Arial, Helvetica, sans-serif; 
}

.bold-font {
	font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
}

.title-font{
	@extend .bold-font;
	color: $white;
	font-size: 36px;
	text-transform: none;
	letter-spacing: normal;
	@media (min-width: $breakpoint-desktop) {
		font-size: 46px;
	}
}

.body-font{
	@extend .main-font;
	color: $white;
	font-size: 18px;
	line-height: 30px;
	text-transform: none;
	letter-spacing: normal;
	font-weight: 300 !important;
	@media (min-width: $breakpoint-desktop) {
		font-size: 24px;
		line-height: 45px;
	}
}

.cta-font{
	@extend .main-font;
	font-size: 20px;
	text-transform: uppercase;
}