@mixin cta{
	@extend .cta-font;
	display: block;
	text-align: center;
	color: $white;
	background-color: $green;
	border: 1px solid $green;
	border-radius: 30px;
	width: 213px;
	height: 57px;
	line-height: 57px;
	@media (min-width: $breakpoint-desktop) {
		&:hover, &:focus{
			color: $green;
			background-color: $white;
			border-color: $white;
		}
	}
}