{% schema %}
{
	"name": "Custom Hero",
	"settings": [
		{
			"type": "image_picker",
			"id": "image",
			"label": "Desktop Image"
		},
		{
			"type": "image_picker",
			"id": "image_mobile",
			"label": "Mobile Image"
		},
		{
			"type": "color",
			"id": "color_picker",
			"label": "Color Picker",
			"default": "#000000"
		},
		{
		   "type": "select",
		   "id": "text_alignment",
		   "options": [
		      { "value": "left", "label": "Left"},
		      { "value": "center", "label": "Center"},
		      { "value": "right", "label": "Right"}
		   ],
		   "label": "Text Alignment",
		   "default": "center"
		},
		{
		   "type": "text",
		   "id": "title",
		   "label": "Title"
		},
		{
		   "type": "textarea",
		   "id": "copy",
		   "label": "Copy"
		},
		{
		   "type": "text",
		   "id": "cta_text",
		   "label": "CTA Text"
		},
		{
			"type": "url",
			"id": "cta_url",
			"label": "CTA URL"
		}
	],
	"presets": [
		{
			"name": "Custom Hero",
			"category": "Homepage",
			"settings": {

			}
		}
	]
}
{% endschema %}

<div class="custom-hero-module">
	<div class="block {{ section.settings.text_alignment }}" style="background-color: {{ section.settings.color_picker }}">

		{% if section.settings.image != blank %}
		<span class="absolute-image desktop-image" aria-label="{{ section.settings.image.alt }}" role="img" style="background-image: url('{{ section.settings.image | img_url: '2400x' }}');"></span>
		{% endif %}

		{% if section.settings.image_mobile != blank %}
		<span class="absolute-image mobile-image" aria-label="{{ section.settings.image_mobile.alt }}" role="img" style="background-image: url('{{ section.settings.image_mobile | img_url: '768x' }}');"></span>
		{% endif %}

		<div class="content">
			<div class="inner-content">
				<h2 class="title">{{ section.settings.title }}</h2>

				{% if section.settings.copy != blank %}
					<p class="copy">{{ section.settings.copy }}</p>
				{% endif %} 

				{% if section.settings.cta_url != blank and section.settings.cta_text != blank %}
				<a class="cta" href="{{ section.settings.cta_url }}">
					<span>{{ section.settings.cta_text }}</span>
				</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
