@font-face {
  font-family: "Roboto-Light";
  src: url("{{ " Roboto-Light " | asset_url }}") format("truetype");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("{{ " Roboto-Bold " | asset_url }}") format("truetype");
}
.main-font, .cta-font, .custom-hero-module .block .content .cta, .body-font, .custom-hero-module .block .content .copy {
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
}

.bold-font, .title-font, .custom-hero-module .block .content .title {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
}

.title-font, .custom-hero-module .block .content .title {
  color: #FFFFFF;
  font-size: 36px;
  text-transform: none;
  letter-spacing: normal;
}
@media (min-width: 1025px) {
  .title-font, .custom-hero-module .block .content .title {
    font-size: 46px;
  }
}

.body-font, .custom-hero-module .block .content .copy {
  color: #FFFFFF;
  font-size: 18px;
  line-height: 30px;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 300 !important;
}
@media (min-width: 1025px) {
  .body-font, .custom-hero-module .block .content .copy {
    font-size: 24px;
    line-height: 45px;
  }
}

.cta-font, .custom-hero-module .block .content .cta {
  font-size: 20px;
  text-transform: uppercase;
}

.custom-hero-module .block {
  height: 640px;
  position: relative;
  display: flex;
  padding: 20px 42px;
}
.custom-hero-module .block .absolute-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}
.custom-hero-module .block .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
}
.custom-hero-module .block .content .title {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
}
.custom-hero-module .block .content .copy {
  margin: 0;
  padding: 0 0 30px;
}
.custom-hero-module .block .content .cta {
  display: block;
  text-align: center;
  color: #FFFFFF;
  background-color: #57AD68;
  border: 1px solid #57AD68;
  border-radius: 30px;
  width: 213px;
  height: 57px;
  line-height: 57px;
}
@media (min-width: 1025px) {
  .custom-hero-module .block .content .cta:hover, .custom-hero-module .block .content .cta:focus {
    color: #57AD68;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
  }
}
@media (max-width: 1025px) {
  .custom-hero-module .block .absolute-image.desktop-image {
    display: none;
    background-image: none !important;
  }
  .custom-hero-module .block .content .copy {
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
  }
  .custom-hero-module .block .content .cta {
    margin: 0 auto;
  }
}
@media (min-width: 1025px) {
  .custom-hero-module .block {
    height: 500px;
    padding: 20px 78px;
  }
  .custom-hero-module .block.text-left .title, .custom-hero-module .block.left .title {
    text-align: left;
  }
  .custom-hero-module .block.text-left .content, .custom-hero-module .block.left .content {
    align-items: flex-start;
  }
  .custom-hero-module .block.text-left .content .inner-content, .custom-hero-module .block.left .content .inner-content {
    max-width: 580px;
  }
  .custom-hero-module .block.text-center .content .copy, .custom-hero-module .block.center .content .copy {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
  }
  .custom-hero-module .block.text-center .content .cta, .custom-hero-module .block.center .content .cta {
    margin: 0 auto;
  }
  .custom-hero-module .block.text-right .title, .custom-hero-module .block.right .title {
    text-align: left;
  }
  .custom-hero-module .block.text-right .content, .custom-hero-module .block.right .content {
    align-items: flex-end;
  }
  .custom-hero-module .block.text-right .content .inner-content, .custom-hero-module .block.right .content .inner-content {
    text-align: left;
    max-width: 580px;
  }
  .custom-hero-module .block .absolute-image.mobile-image {
    display: none;
    background-image: none !important;
  }
  .custom-hero-module .block .content .copy {
    padding: 0 0 30px;
  }
}

/*# sourceMappingURL=custom-theme.css.map */
